*{
    margin: 0;
    padding: 0;
    
}
body{
    font-family: 'Titillium Web', sans-serif;
}
img{
    width: 100%;
    height: auto;
}
h1{
    color: #202428;
    font-size: 50px;
    font-weight: 500;
}
p{
    color: #727272;
    font-size: 18px;
    margin-bottom: 30px;
}
h2{
    color: #202428;
    font-size:  40px;
    margin-bottom: 30px;
}
.btn{
    background-color: #EC4C7A;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    padding: 10px 30px;
    display: inline-block;
    border-radius: 5px;
}
.btn:hover{
    background-color: #be0338;
}
.container{
    width: 70%;
    margin: 0 auto;
    overflow: hidden;
    padding: 70px 0;
}
.titel{
    text-align: center;
    text-transform: capitalize;
}
.col{
    width: 47%;
    float: left;
    height: 500px;
    margin-right: 6%;

}
.col:nth-last-child(1){
    margin-right: 0;
}
.text-area{
    padding: 100px 0;
    height: 300px;
}
#hire-me-section{
    background-image: url(image/header-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
}
.helighi-name{
    color: #EC4C7A;
    font-weight: 700;
    margin-bottom: 20px;
}
#biography-section{
    background-image: url(image/biography-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
}


.biography-image-area{
    height: 600px;
}
#work-section{
    background-image: url(image/latest-work-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.col-3 {
    width: 32%;
    float: left;
    margin-right: 2%;
}
.col-3:last-child{
    margin-right: 0;
}
#client-section{
    background-image: url(image/footer-bg.png);
    background-repeat: no-repeat;
    background-position:left;
    background-size: cover;
}
.about-cliebt{
    text-align: center;
    margin-top: 70px;
}
.about-cliebt h5{
    font-size: 25px;
    margin-bottom: 10px;
}
.descaption p{
    text-align: center;
    color: black;
    line-height: 25px;
}
.email{
    width: 500px;
    margin: 0 auto;
    border-radius: 5px;
    background-color: #EC4B75;
    padding: 20px;
    text-align: center;
}
.email h6{
    font-size: 16px;
    color: #FFFFFF;
    margin-bottom: 20px;
}
.email p{
    font-size: 25px;
    color: #FFFFFF;
    margin-bottom: 16px;
}
footer p{
    text-align: center;
    color: #747474;
    font-weight: 600;
    margin-bottom: 40px;
}